.toAlign input {
    text-align: center;
}

.ant-tabs-nav {
    width: 100% !important;
}
    
.ant-tabs-tab {
    display: block; // centers text inside tabs
    flex: 1;
    text-align: center;
}

.ant-tabs-tab-btn {
    width: 100%;
}
    
.ant-tabs-nav > div:nth-of-type(1) {
    display: block !important;
    width: 100% !important;
}